.card-group {
    display: flex;
    flex-direction: column;
    height: 100%;

    .top {
        height: 50%;
    }

    .bottom {
        cursor: pointer;
        height: 50%;
    }
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.start-box {
    position: absolute;
    left: 50%;
    right: 50%;
    width: 50%;
    height: 50%;
    min-height: 400px;
    height: 100%;
}
