.card-group {
    display: flex;
    flex-direction: column;
    height: 100%;

    .top {
        height: 40%;
        display: flex;
        align-items: center;
    }

    .bottom {
        cursor: pointer;
        height: 60%;
        display: flex;
        align-items: center;
    }
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.box-fill {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0;
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

.bottom-nav-buttons {
    position: absolute;
    bottom: 0;

    width: calc(50% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.finish-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

@media (max-width: 1024px) {
    .bottom-nav-buttons {
        width: calc(60% - 20px);
    }
}

@media (max-width: 768px) {
    .bottom-nav-buttons {
        width: calc(90% - 20px);
    }
}

@media (max-width: 480px) {
    .bottom-nav-buttons {
        width: calc(100% - 20px);
    }
}
