<a role="button" href="javascript:void(0)" (click)="reverseCards = !reverseCards;">Reverse cards</a>

<div class="card-group" *ngIf="reverseCards">
    <div class="top">{{ set.cards[currentCardIterator].front }}</div>

    <div class="bottom" (click)="hideCard = !hideCard">{{ hideCard ? "Click to reveal" :
        set.cards[currentCardIterator].back
        }}</div>
</div>

<div class="card-group" *ngIf="!reverseCards">


    <div class="top" >{{ set.cards[currentCardIterator].back }}</div>

    <div class="bottom" (click)="hideCard = !hideCard">{{ hideCard ? "Click to reveal" :
        set.cards[currentCardIterator].front
        }}</div>
</div>

<a role="button" href="javascript:void(0)" (click)="newCard(-1)">Previous </a>
<a role="button" href="javascript:void(0)" (click)="newCard(1)">Next</a>